<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0
          http://maven.apache.org/xsd/settings-1.0.0.xsd">

    <mirrors>
        <mirror>
            <id>teams-http-repo</id>
            <mirrorOf>*</mirrorOf>
            <url>https://drive.google.com/drive/folders/1ODjdNGd0bbJ0ixFNTve6Gb_u6hwS04he</url>
            <layout>default</layout>
        </mirror>
    </mirrors>
          
    <profiles>
        <profile>
            <id>teams-http-repo-profile</id>
            <repositories>
                <repository>
                    <id>teams-http-repo</id>
                    <url>https://drive.google.com/drive/folders/1ODjdNGd0bbJ0ixFNTve6Gb_u6hwS04he</url>
                    <layout>default</layout>
                </repository>
            </repositories>
        </profile>
    </profiles>

    <activeProfiles>
        <activeProfile>teams-http-repo-profile</activeProfile>
    </activeProfiles>
</settings>
